#playerController {
	position: fixed;
	bottom: 5vh;
	width: 100%;
	display: none;
	justify-content: space-around;
}
#movementController {
	text-align: center;
}
#shooter {
	transform: Rotate(20deg);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.Btn1 {
	width: 50px;
	height: 50px;
}
#leftBtn {
background-color: white;
background-image: url("./Sprites/onscreenControls/Left.png");
}
#rightBtn {
background-color: white;
background-image: url("./Sprites/onscreenControls/Right.png");   
}
#homeScreen {
	position: fixed;
	top: 0px;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	color: white;
}
#homeScreen .btn {
	height: 20vh;
	display: flex;
	justify-content: space-around;
}

#homeScreen a {
	text-decoration: none;
	font-weight: bold;
	color: orangered;
}

#start, #select {
	width: 110px;
	height: 50px;
}

@media (orientation: landscape) {
	#homeScreen .btn {
		width: 250px;
    	flex-direction: row;
	}
}

@media (orientation: portrait) {
	#homeScreen .btn {
    	flex-direction: column;
	}
}
#scoreBoard {
	position: fixed;
	top: 5vh;
	left: 5vw;
	color: white;
	display: none;
	flex-direction: column;
}
#toolBar {
	position: fixed;
	top: 5vh;
	right: 5vw;
	width: 120px;
	display: none;
	justify-content: space-between;
}
#toolBar .Btn2 {
	width: 35px;
	height: 35px;
}
#play, #volumeOn {
	display: none;
}
#spaceshipSelector {
	position: fixed;
	top: 0px;
	width: 100%;
	height: 100%;
	color: white;
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#cancel {
	position: fixed;
	top: 5vh;
	right: 5vw;
	width: 50px;
	height: 50px;
}
#spaceship-models {
	margin-top: 10vh;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
#spaceship-models img {
	width: 100px;
	height: 100px;
}
@media (orientation: landscape) {
	#spaceship-models {
		width: 350px;
		flex-direction: row;
	}
}

@media (orientation: portrait) {
	#spaceship-models {
		height: 350px;
		flex-direction: column;
	}
}
